.submitButton{
    padding: 2rem 3rem;
    border: 0;
    font-family: inherit;
    background: #061420;
    color: #fff;
    font-size: 10rem;
    border-radius: 7px;
    cursor:pointer;
}

.submitButton[disabled]{
    opacity: 0.25;
    color: gray;
}